<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PublicTransportTimetable">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".line.LineListActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".line.LineEditActivity"
            android:parentActivityName=".line.LineListActivity" />

        <activity
            android:name=".stop.StopListActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".stop.StopEditActivity"
            android:parentActivityName=".stop.StopListActivity" />

        <activity
            android:name=".route.RouteListActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".route.RouteEditActivity"
            android:parentActivityName=".route.RouteListActivity" />

        <activity
            android:name=".schedule.ScheduleListActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".schedule.ScheduleEditActivity"
            android:parentActivityName=".schedule.ScheduleListActivity" />

    </application>

</manifest>